# Neon PostgreSQL connection string
# https://console.neon.tech → Project → Connection string
DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"

# Auth.js
AUTH_SECRET="gere-com-openssl-rand-base64-32"
# Em produção:
# AUTH_URL="https://seu-dominio.com"

# Optional
# NEXT_PUBLIC_USE_API=1
